@page "/"
@using Car_Rental.Business.Classes
@using Car_Rental.Common.Interfaces
@using Car_Rental.Common.Enums
@inject BookingProcessor bp 

<PageTitle>Car Rental Assignment</PageTitle>

<h1>Car Rental Assignment</h1>

<div class="row">
    <h5>Vehicles</h5>
    <div class="col-sm-6">
        <table class="table table-borderless" style=" border:1px solid black; ">
            <thead>
                <tr>
                    <th>RegNo</th>
                    <th>Make</th>
                    <th>Odometer</th>
                    <th>Cost/Km</th>
                    <th>Vehicle Type</th>
                    <th>$/Day</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in bp.GetVehicles())
                {
                    <tr>
                        <th>@vehicle.RegNo</th>
                        <td>@vehicle.Make</td>
                        <td>@vehicle.Odometer</td>
                        <td>@vehicle.CostKm</td>
                        <td>@vehicle.VehicleTypes</td>
                        <td>@vehicle.CostDay</td>
                        <td>
                            @if (vehicle.VehicleStatus == VehicleStatus.Available)
                            {
                                <span class="badge rounded-pill bg-dark">Available</span>
                            }
                            else
                            {
                                <span class="badge rounded-pill bg-danger">Booked</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="row">
    <h5>Bookings</h5>
    <div class="col-sm-6">
        <table class="table" , style="border:1px solid black;">
            <thead>
                <tr>
                    <th>RegNo</th>
                    <th>Customer</th>
                    <th>Km Reneted</th>
                    <th>Km Returned</th>
                    <th>Reneted</th>
                    <th>Returned</th>
                    <th>Cost</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>GHI789</th>
                    <td>Doe John (12345)</td>
                    <td>1000</td>
                    <td></td>
                    <td>9/9/2023</td>
                    <td></td>
                    <td></td>
                    <td><span class="badge bg-danger">Open</span></td>
                </tr>
                <tr>
                    <th>JKL012</th>
                    <td>Doe John (98765)</td>
                    <td>5000</td>
                    <td>5000</td>
                    <td>9/9/2023</td>
                    <td>9/9/2023</td>
                    <td>300</td>
                    <td><span class="badge bg-success">Closed</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="row">
    <h5>Customers</h5>
    <div class="col-sm-3">
        <table class="table" style=" border:1px solid black;">
            <thead>
                <tr>
                    <th>SSN</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in bp.GetCustomers())
                {
                    <tr>
                        <th>@customer.SSN</th>
                        <td>@customer.LastName</td>
                        <td>@customer.FirstName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>